

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudentLabel">Create or edit a Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!student.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nume">Nume</label>
            <input type="text" class="form-control" name="nume" id="field_nume"
                [(ngModel)]="student.nume"
            required />
            <div [hidden]="!(editForm.controls.nume?.dirty && editForm.controls.nume?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nume?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_prenume">Prenume</label>
            <input type="text" class="form-control" name="prenume" id="field_prenume"
                [(ngModel)]="student.prenume"
            required />
            <div [hidden]="!(editForm.controls.prenume?.dirty && editForm.controls.prenume?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenume?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="student.email"
            required />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_company">Current Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="student.company" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id === student.company?.id ? student.company : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_title">Current Title</label>
            <select class="form-control" id="field_title" name="title" [(ngModel)]="student.title" >
                <option [ngValue]="null"></option>
                <option [ngValue]="titleOption.id === student.title?.id ? student.title : titleOption" *ngFor="let titleOption of titles; trackBy: trackTitleById">{{titleOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
